<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals2.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style2.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="desktop-wrapper">
        <div class="div">
          <div class="overlap">
            <img class="pate-island" src="img/pate-island-190920-0984-1.png" />
            <div class="text-wrapper"><a href="index.html">Home</a></div>
            <p class="p">Knowing our world in order to benefit humanity</p>
            <div class="text-wrapper-2">About Us</div>
            <div class="text-wrapper-3">Our Mission</div>
            <div class="text-wrapper-4">Climate Neutral</div>
          </div>
          <div class="text-wrapper-5">Our Team</div>
          <p class="text-wrapper-6">
            The Climate Neutral website features an app for multi-objective decision-making analysis. Users access this
            website through user authentication and input their evaluation categories and scenario details. This
            processes the data, presenting results through tables and charts, and recommends a scenario based on the
            calculations.
          </p>
          <div class="overlap-group">
            <p class="text-wrapper-7">
              The Climate Neutral website features an app for multi-objective decision-making analysis. Users access
              this website through user authentication and input their evaluation categories and scenario details. This
              processes the data, presenting results through tables and charts, and recommends a scenario based on the
              calculations.
            </p>
            <img class="image" src="img/image-29.png" />
            <div class="text-wrapper-8">Climate Neutral</div>
            <div class="text-wrapper-9">Stay Connected!</div>
            <img class="img" src="img/image-30.png" />
            <img class="image-2" src="img/image-31.png" />
            <img class="image-3" src="img/image-31.png" />
            <img class="line" src="img/line-1.svg" />
            <p class="text-wrapper-10">
              The Climate Neutral website features an app for multi-objective decision-making analysis. Users access
              this website through user authentication and input their evaluation categories and scenario details. This
              processes the data, presenting results through tables and charts, and recommends a scenario based on the
              calculations.
            </p>
            <p class="text-wrapper-11">© 2023 Climate Neutral | Terms of Use</p>
          </div>
          <img class="image-4" src="img/image-24.png" />
          <p class="text-wrapper-12">
            Aditi Chandra is proficient in Java, C, C++, and XML, with expertise in web technologies like HTML5, CSS,
            and JavaScript. Experienced in ReactJS and NodeJS frameworks, they handle databases such as MySQL, MongoDB,
            Oracle, and PHP. Their skills extend to version control with Git/GitHub, project management using
            Jira/Confluence, and operating systems like Windows, Linux (Fedora), and Unix. Familiar with cloud
            ecosystems like AWS, Microsoft Azure, and Docker, they also have knowledge of data virtualization tools such
            as VMWare, Oracle, IBM Cloud, and Selenium.
          </p>
          <p class="text-wrapper-13">
            Prathyusha Nandigam is a skilled Designer and Tester with expertise in Artificial Intelligence/Machine
            Learning, specializing in Deep Learning, Neural Networks, Computer Vision, and NLP. Proficient in frameworks
            like TensorFlow, Keras, Caffe, Scikit-Learn, PyTorch, and Spark MLib, she is adept at programming in C, C++,
            Java, Python, and React. Her web development skills encompass HTML, CSS, XML, JavaScript, PHP, Ajax, and
            Bootstrap. Prathyusha operates seamlessly on various operating systems, including Windows, Linux, iOS, and
            Ubuntu. She leverages DevOps tools such as Jenkins, Jira, Sub-version, WebSphere Application Server, and
            GIT. Experienced in Microsoft tools like Excel, Word, and PowerPoint, she is well-versed in cloud platforms
            like Azure, AWS, and Docker. Fluent in English, Telugu, and Hindi, Prathyusha brings a diverse language
            proficiency to her work.
          </p>
          <p class="text-wrapper-14">
            Ruchika Paresh Gohil is a versatile Developer and Tester proficient in languages such as Python, Java, C,
            JavaScript, CSS3, SCSS, and HTML5. With expertise in web frameworks and libraries like React JS,
            React-Redux, Redux-Thunk, React-Saga, Redux Toolkit, Node JS, Express, Angular, and Next JS, she navigates
            databases including MySQL, MongoDB, and PLSQL. Ruchika is adept at working with Cloud Platforms like AWS and
            Azure, as well as containerization using Docker. She follows agile methodologies, utilizing tools such as
            GIT, Scrum, Vscode, Eclipse, Jira, and Linux (Debian, Ubuntu). Additionally, Ruchika has experience with
            Power BI for data visualization.
          </p>
          <p class="text-wrapper-15">
            Syed Hussnain Ali is a Business Analyst with a focus on Agile methodologies. He is familiar with Agile
            project management tools like Jira, Trello, and Asana, demonstrating proficiency in facilitating Agile
            processes. With knowledge of version control systems like Git, Syed is well-versed in Test-Driven
            Development (TDD) principles and practices. He excels in writing and managing user stories, utilizing
            expertise in Agile metrics and tracking tools. Syed also possesses technical writing skills for creating
            documentation related to Agile processes and maintains a basic understanding of database systems for
            effective database management.
          </p>
          <p class="text-wrapper-16">
            Utsav Krishnatra is a dynamic Developer with proficiency in an array of programming languages, including
            Python, Java, C, C++, JavaScript, CSS3, SCSS, HTML5, JSP, Servlets, JSTL, and XML. He excels in various web
            frameworks and libraries such as React JS, React-Redux, Redux-Thunk, React-Saga, Redux Toolkit, NodeJS,
            Express, and Angular. Utsav is adept at working with databases like MySQL, MongoDB, and Firebase, and he
            leverages cloud platforms, particularly AWS. His toolkit includes GIT for version control, and he follows
            Agile methodologies, Scrum practices, and utilizes tools like VScode, Eclipse, Jira, and Linux (Fedora,
            Ubuntu). Utsav is also well-versed in Microsoft applications, including MS WORD and MS EXCEL.
          </p>
          <img class="image-5" src="img/image-28.png" />
          <img class="image-6" src="img/image-25.png" />
          <img class="image-7" src="img/image-26.png" />
          <img class="image-8" src="img/image-27.png" />
          <video autoplay muted loop id="myVideo">
            <source src="img/video2.mp4" type="video/mp4">
           </video>
        </div>
      </div>
    </div>
  </body>
</html>
